.card{
  display: flex;
  width: 200px;
  height: 200px;
  flex-wrap: wrap
}
.container{
  display: flex;
  flex-wrap: wrap
}

ion-fab[slot="fixed"] { 
  position: fixed;
  bottom: 40px;   
  right: 30px;   
}
.popover{
  width: 500px;
  height: 500px;
}
ion-list{
  width: 100%;
}